name: Semantic PR Title

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

permissions:
  pull-requests: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            chore
            refactor
            docs
            test
            ci
            build
            perf
            revert
          requireScope: false
          subjectPattern: ^[a-z].+
          subjectPatternError: "Der Betreff sollte klein beginnen."

